@import "./variables";

.map { 
    
    .list-group {
        background-color: $colorBG;
            user-select: none;
            cursor: pointer;
        h4 {
            font-weight: 500;
            color: $colorHead;
            padding: 20px 20px;
            font-size: 1.2rem;
            border-bottom: 1px solid $colorText;
        }
        .list-group-item {
            @extend .list-group;
            h5 {
                color: $colorText;
                font-size: 1rem;
            }
            p {
                @extend h5
            }
            span {
                font-size: 0.9rem;
                color: $colorHead;
            }
            &:hover {
                border-left: 4px solid $colorBtn;
            }
        }
    }
}