* {
    margin: 0px;
    padding: 0px;
    box-sizing: normal;
}

body {
    font: {
        size: 1rem;
        family: sans-serif;
    }
}

a {
    text-decoration: none !important;
    list-style-type: none !important;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
}


%heading {
    font: {
        size: 2.5rem;
        weight: normal;
    }

    color: $colorHead;
}

%heading-extra {
    font: {
        style: oblique;
        size: 1rem;
    }

    color: $colorText;
    letter-spacing: 2px;
}

main {

    .heading {
        h3 {
            @extend %heading;
        }

        p {
            @extend %heading-extra;
        }
    }

    background-color: $colorBG;
}