@mixin icon {
    font-size: 2.3rem;
    color: $colorBG;
}
@mixin positon($pos, $y, $x) {
    position: absolute;

    @if $pos=='tl' {
        left: $x;
        top: $y;
    }

    @else if $pos=='tr' {
        right: $x;
        top: $y;
    }

    @else if $pos=='bl' {
        left: $x;
        bottom: $y;
    }

    @else if $pos=='br' {
        right: $x;
        bottom: $y;
    }
}

@mixin center-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}